version: '3.6'

services:
    database:
        image: postgres:9.6
        ports:
            - "5432:5432"
        volumes:
            - db-volume:/var/lib/postgresql/dbdata
        environment:
            POSTGRES_DB: appdb
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: pgpass          
        networks:
            app-network:
                aliases:
                - database.app.local
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "postgres"]
            interval: 10s
            timeout: 5s
            retries: 5
    api:
        image: api:latest
        ports:
            - 8080:8080
        volumes:
            - ./:/go/src/github.com/wyrdnixx/mygoproject
        depends_on:
            - database
        networks:
            app-network:                
                aliases:
                - app.app.local
 
volumes:
  db-volume:

networks:
  app-network:
    driver: bridge